<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="../assets/demo/demo.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <a class="nav-link active" [routerLink]="['/centre/tuteur']"></a>
            <h1 class="title">Gestion des Employés</h1>
    </div>
    <div class="col-md-5">
            <datalist id="employe">
                <option *ngFor="let employe of employes" [value]="employe.prenom">{{employe.id}} - {{employe.prenom}}</option>
            </datalist>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
