<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="../assets/demo/demo.css" rel="stylesheet" />


<h5 class="card-title">Ajouter un eleve</h5>
<form (ngSubmit)="ajoutEleve()">
    <div class="form-group">
        <label for="nom"></label>
        <input name="nom" type="text" [(ngModel)]=eleve.nom class="form-control" placeholder="nom">
    </div>

    <div class="form-group">
        <label for="prenom"></label>
        <input name="prenom" type="text" [(ngModel)]=eleve.prenom class="form-control" placeholder="prenom">
    </div>
    <div class="form-group">
        <label for="date"></label>
        <input name="dateNaissance" class="form-control" [(ngModel)]=eleve.dateNaissance type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
    </div>
    <div class="form-group">
        <label for="choix_tuteur">Tuteur</label>
        <input name="tuteur" list="tuteur" [(ngModel)]=eleve.tuteur.id type="text" id="choix_tuteur">
        <datalist id="tuteur">
            <option *ngFor="let tuteur of tuteurs" value={{tuteur.id}}  id="{{tuteur.id}}">{{tuteur.nom}} {{tuteur.prenom}}</option>
        </datalist>
        <span class="input-group-btn">
            <button [routerLink]="['/centre/tuteur/ajouter']" class="btn btn-default" type="button">
                <td><img src="../../../../assets/img/more.svg" alt="editer" height="22px" width="25px" /></td>
            </button>
        </span>
    </div>

    <button type="submit" name="" id="" class="mt-1 btn btn-primary">Ajout</button>
</form>