

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="../assets/demo/demo.css" rel="stylesheet" />
<div class="row justify-content-center mt-5">
    <div class="card " style="width: 18rem;">
        <div id="ajoutClasseCard" class="card-img-top mt-5"></div>
        <div class="card-body">
          <h5 class="card-title">Ajouter</h5>
          <form (ngSubmit)="ajoutMatiere()">
            <div class="form-group">
                <label for="leNom">Emtrer le label de la nouvelle matiere ici</label>
              <input type="text" name="nom" class="form-control" id="leLabel" [(ngModel)]=matiere.label  placeholder="Entrer le label">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
</div>



