<link rel="stylesheet" href='../../../../assets/css/style/style.css'>
<div class="back1">
    <section class="pt-105 pb-45 text-center feature_1">
        <div class="container px-xl-0">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <h2 class="mb-45 small" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">L'Institut</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
                            <i class="fa fa-book f-60 action-3" style="color: #25DAC5;"></i>
                            <div class="mt-20 mb-25 f-22 title">Education</div>
                            <div class="color-heading text-adaptive">
                                Soutenue par un corps enseignant qualifié, L'institut s’entend offrir aux enfants une éducation d’excellence. Les élèves sont accueillis au sein de classes à effectif réduit.
                            </div>
                        </div>
                        <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="fade-down" data-aos-delay="500">
                            <i class="fas fa-award f-60 action-3" style="color: #25DAC5;"></i>
                            <div class="mt-20 mb-25 f-22 title">Diplome</div>
                            <div class="color-heading text-adaptive">
                                Nous nous engageons à fournir à nos élèves des expériences linguistiques enrichissantes autour des langues française, anglais et optionnellement l’arabe, afin d’améliorer leur connaissances et développer leurs ouvertures d’esprits.
                            </div>
                        </div>
                        <div class="col-md-4 mb-50" data-aos-duration="500" data-aos="fade-down" data-aos-delay="750">
                            <i class="fas fa-landmark f-60 action-3" style="color: #25DAC5;"></i>
                            <div class="mt-20 mb-25 f-22 title">Institut</div>
                            <div class="color-heading text-adaptive">
                                L'institut met en oeuvre un programme d’enseignement religieux optionnel . En inculquant à l’enfant les valeurs universelles et le bon comportement préconisés par l’Islam, l’école vise à en faire un citoyen responsable, élément positif de notre communauté
                                et de la société dans son ensemble.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-105 pb-95  content_2">
        <div class="container px-xl-0 text-center">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                    <h2>Qui somme nous ?</h2>
                </div>
                <div class="col-xl-7 col-lg-9 col-md-10" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                    <div class="mt-35 f-18 medium color-heading op-7 text-adaptive">
                        L’Institut est un établissement d’enseignement privé hors contrat reconnu par l’Education Nationale. L’école a ouvert ses portes à la rentrée 2015 et accueille aujourd’hui 5 classes d’enseignement primaire.L'Institut s’inscrit dans une politique d’excellence.
                        Ainsi, avec un effectif restreint, un accent sur le trilinguisme et un suivi personnalisé, nous souhaitons accompagner chaque enfant dans son épanouissement intellectuel et spirituel, afin de favoriser sa réussite, et en faire
                        un élément moteur de la société. </div>
                </div>
            </div>
        </div>
    </section>
</div>