<link rel="stylesheet" href='../../../../assets/css/style/style.css'>

<section class="pt-80 pb-100 text-center contact_2">
    <div class="container px-xl-0">
        <form action="form-handler.php" method="post">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="f-14 semibold text-uppercase sp-20 color-heading" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Vous ne trouvez pas la réponse à votre question, le Service Clients de L'Institut est à votre disposition :</div>
                    <h2 class="mt-20 mb-40 small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">Nous contacter</h2>
                    <div data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                        <textarea name="message" placeholder="Your message" class="mb-30 input w-full lg radius10 border-gray focus-action-1 color-heading placeholder-heading text-left" required></textarea>
                    </div>
                </div>
                <div class="col-12"></div>
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
                    <input type="email" name="email" placeholder="Your email" class="mb-30 input w-full lg border-gray focus-action-1 color-heading placeholder-heading text-center text-sm-left" required />
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1200">
                    <button class="mb-30 btn lg w-full action-1">Envoyer</button>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-xl-1"></div>
            <div class="col-xl-3 col-md-4 col-sm-8 mt-50" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                <div class="mb-10 f-14 semibold text-uppercase sp-20 title">Roubaix, RB</div>
                <div class="color-heading text-adaptive">
                    68 rue des fruits, <br /> Roubaix, RB, 59100 </div>
            </div>
            <div class="col-md-4 col-sm-8 mt-50" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <div class="mb-10 f-14 semibold text-uppercase sp-20 title">Paris, PA</div>
                <div class="color-heading text-adaptive">
                    32 rue paul, <br /> Paris, PA, 75000 </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-8 mt-50" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                <div class="mb-10 f-14 semibold text-uppercase sp-20 title">Lyon, LY</div>
                <div class="color-heading text-adaptive">
                    12 rue royal, <br /> Lyon, Ly, 69000 </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
</section>