<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="../assets/demo/demo.css" rel="stylesheet" />

<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="material-icons">supervisor_account</i>
            </div>
            <p class="card-category">Métiers</p>
            <h3 class="card-title">
                <small>Total:</small> {{ nbrMetier }}
            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons text-danger">list</i>
                <a class="nav-link" [routerLink]="['liste']" routerLinkActive="router-link-active">Afficher la liste</a>
            </div>
        </div>
        <button  [routerLink]="['ajouter']" routerLinkActive="router-link-active" class="btn btn-primary" type="submit">Ajouter un métier</button>
    </div>
</div>
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<script src="../assets/js/plugins/chartist.min.js"></script>
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<script src="../assets/js/material-dashboard.js?v=2.1.0"></script>
<script src="../assets/demo/demo.js"></script>
<script src="../assets/js/sb-admin-2.min.js"></script>