<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
        </tr>
    </thead>
    <tbody *ngFor="let eleve of ListeElv">
        <tr>
            <th scope="row">{{eleve.id}}</th>
            <td>{{eleve.nom}}</td>
            <td>{{eleve.prenom}}</td>
        </tr>
    </tbody>
</table>

<div>

    <form  (ngSubmit)="ajouterEleveCours()">
        <div class="form-group">
            <label for="">Choisir l'eleve à ajouter dans ce cours</label>
                <select id="test"[(ngModel)]=ideleve name="matiere">
                    <option [ngValue]="eleve.id" *ngFor="let eleve of ListeElv" >{{eleve.nom}}</option>
                </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<div class="row justify-content-center">
    <a class="nav-link" (click)="retour()" routerLinkActive="router-link-active"><i class="material-icons">arrow_back</i>retour</a>
  </div>
