<link rel="stylesheet" href='../../../../assets/css/style/style.css'>
<footer class="pt-75 pb-65  text-center footer_1">
    <div class="container px-xl-0">
        <div class="row justify-content-between align-items-center lh-40 links">
            <div class="col-lg-4 col-sm-6 text-sm-right text-lg-left order-1 order-lg-0" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
                <a href="#" class="mr-15 link example_c ">About</a>
                <a href="#" class="mx-15 link example_c ">Policy</a>
                <a href="#" class="mx-15 link example_c ">Terms</a>
            </div>
            <div class="mb-10 mb-lg-0 col-lg-auto order-0" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">
                <a class="navbar-brand" href="index.html">
                    <img alt="Logo" src="../assets/img/LOGO-7.png" class="pull-left">

                </a>
            </div>
            <div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0" data-aos-duration="500" data-aos="fade-down" data-aos-delay="250">
                <a href="#" class="mr-15 link example_c " [routerLink]="['/contact']" routerLinkActive="router-link-active">Contacts</a>
                <a href="#" class="mx-15 link color-main"><i class="fab fa-twitter"></i></a>
                <a href="#" class="mx-15 link color-main"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="ml-15 link color-main"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mt-10 col-xl-4 col-lg-5 col-md-6 col-sm-8" data-aos-duration="500" data-aos="fade-down" data-aos-delay="0">
                <div class="color-heading text-adaptive">
                    N'oubliez pas de consulter nos <a href="#" class="link color-heading">conditions d'utilisation</a> et
                    <a href="#" class="link color-heading">politique de confidentialité</a>



                </div>
            </div>
        </div>
    </div>
</footer>